body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #000000;
}

.products {
    padding: 2rem 1rem;
    text-align: center;
}

.heading {
    background-color: #800000;
    height: 8rem;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    font-size: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 1);
}

.cart-icon {
    position: relative;
    font-size: 4rem;
    cursor: pointer;
    right: 4rem;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
}

.pop-up {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

.pop-up.error {
    background-color: #f44336;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.product-card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    width: calc(33.333% - 1rem);
    margin-bottom: 1rem;
}

.product-card button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.product-card button:hover {
    background-color: #a52a2a;
    transform: scale(1.05); 
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.product-card p.price {
    font-size: 1.2rem;
    color: #800000;
}

.product-card button.add-to-cart,
.product-card button.remove-from-cart {
    padding: 1rem;
    background-color: #800000;
    border: none;
    color: white;
    cursor: pointer;
    width: 70%;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    border-radius: 3rem;
    margin-top: 0.5rem;
}

.product-card button.add-to-cart:hover,
.product-card button.remove-from-cart:hover {
    background-color: #a52a2a;
}

button.add-to-cart i{
    margin-right: 0.5rem;
}

button.remove-from-cart i{
    margin-right: 0.5rem;
}

.product-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}


.cart-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 1000;
    width: 80%;
    max-width: 500px;
}

.cart-content {
    text-align: center;
}

.cart-content h2 {
    margin-bottom: 2rem;
    color: #800000;
    font-size: 2rem;
}

.cart-content p {
    margin-top: 1.5rem;
    font-weight: bold;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    font-weight: bolder;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 4rem;
    cursor: pointer;
    color: #800000;
}

/* Sepet İkonuna Sallanma Animasyonu */
/* Sepet İkonuna Sallanma Animasyonu */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.cart-icon.animate {
    animation: shake 0.5s ease;
}




footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.footer-content p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.pop-up {
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

/*Responsive*/

@media (max-width: 768px) {
    .heading {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .cart-icon {
        font-size: 3rem;
        left: -1rem;
    }

    .product-grid {
        gap: 1rem;
    }

    .product-card {
        width: calc(50% - 1rem);
        margin-bottom: 2rem;
    }

    .product-card h3 {
        font-size: 1rem;
    }

    .product-card p.price {
        font-size: 0.9rem;
    }

    .product-card button {
        font-size: 0.9rem;
    }

    .cart-popup {
        padding: 1rem;
        width: 90%;
        max-width: 400px;
    }

    footer {
        padding: 0.5rem;
    }

    .footer-content {
        padding: 0.5rem;
    }

    .footer-content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {

    .heading {
        font-size: 1.5rem;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .cart-icon {
        font-size: 3rem;
    }

    .products{
        width: 80%;
        margin: auto;
        overflow-x: hidden;
    }

    .products img{
        width: 100%;
        height: auto;
    }

    .product-card {
        width: calc(100% - 1rem);
    }

    .product-card h3 {
        font-size: 1.7rem;
    }

    .product-card p.price {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .product-card button {
        width: 2rem;
        height: 2.7rem;
        font-size: 0.5rem;
    }

    .cart-popup {
        padding: 1rem;
        width: 90%;
        max-width: 350px;
    }
}


/*End of Responsive*/